<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="#">We love forms!</a>
			</nav>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<form role="form">
						<div class="form-group">

<p>
<h1>Allez, viens créer ton profil avec ce joli formulaire !</h1>
<form action="<%= user_creation_path %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	  <div class="form-group">
	    <input type="text" class="form-control" id="username" name="username" placeholder="Entre ton username">
  	</div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" name="email" placeholder="Entre ton e-mail">
    </div>
	  <div class="form-group">
	    <textarea type="text" class="form-control" id="bio" name="bio" cols="32" placeholder="Raconte ta vie"></textarea>
	  </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>

<!--Pas besoin de mettre "method: "post" car cela est implicite et form_tag le renseigne automatiquement -->
<!-- Pas besoin de mettre input authenticity_token car il est également implicite grâce à form_tag -->

</p>

<br/>

<p>
<h1>Si tu préfères, tu peux t'amuser avec ce bien plus joli formulaire !</h1>
<%= form_tag(user_creation_path) do %>
	<div class="form-group">
		<%= text_field_tag 'username', nil, class:'form-control', placeholder:'Entre ton username' %>
	</div>

	<div class="form-group">
	 <%= email_field_tag 'email', nil, class:'form-control', placeholder:'Entre ton e-mail' %>
	 </div>

	<div class="form-group">
		 <%= text_area_tag 'bio', nil, class:'form-control', placeholder:'Raconte ta vie' %>
		 </div>

	<%= submit_tag "Envoyer", class:'btn btn-primary' %>
 <% end %>
</p>

<br/>

<p>
<h1>Sinon on a un formulaire encore plus sexy :</h1>
<%= form_for :user do |f| %>
	<div class="form-group">
  <%= f.text_field :username, class:'form-control', placeholder:'Entre ton username' %>
  </div>

	<div class="form-group">
  <%= f.email_field :email, class:'form-control', placeholder:'Entre ton e-mail' %>
  </div>

  <div class="form-group">
  <%= f.text_area :bio, class:'form-control', placeholder:'Raconte ta vie' %>
  </div>

  <%= f.submit class:'btn btn-primary' %>
<% end %>
</p>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
